.wrapper {
    width: 100%;
}

.container {
    max-width: 880px;
}

.box-img {
    display: block;
    margin: 28px auto;
    height: 180px;
    width: 180px;
}

.title {
    text-align: center;
    margin-bottom: 5rem;
}

a {
    color: #008fff;
}

.title > a {
    color: #606c76;
}

.button {
    display: block;
    margin: 0 auto;
    max-width: 280px;
    background-color: #008fff;
    border-color: #008fff;
}

input[type="text"]:focus {
    border-color: #008fff;
}

input[type="submit"] {
    background-color: #008fff;
    border-color: #008fff;
}

hr {
    border-top-width: 0.4rem;
    border-color: #008fff;
    margin: 5rem 0;
}
